<%- include('./partials/header')%>
<style>
    h4 {
        color: white;
        font-size: 25px;
    }
    p {
        font-size: 20px;
        color: grey;
    }
</style>
<div class="container" style="margin-top: 50px;">
    <h1>About Us</h1>

    <div class="inner_container" style="margin-top: 50px; ">
        <h4>About Our Bookshop</h4>
    <p>
        Welcome to Bookshop, your go-to destination for all things books! At Bookshop, we're passionate about literature and believe in the power of books to inspire, educate, and entertain.
    </p>

    <h4>Our Story</h4>
    <p>Bookshop was founded in 2020 with a simple mission: to create a welcoming space where book lovers of all ages could explore their favorite titles, discover new authors, and connect with fellow book enthusiasts. Over the years, we've grown from a small storefront to a beloved community hub, serving bookworms from Tbilisi and beyond.</p>

    <h4>Our Collection</h4>
    <p>Step into our shop, and you'll find shelves filled with a diverse selection of books spanning various genres, from timeless classics to the latest bestsellers. Whether you're searching for a gripping mystery, a heartwarming romance, or an insightful biography, we've got something for everyone. Can't find what you're looking for? Our friendly staff is always here to help you find the perfect read.</p>
    </div>

    
</div>